*.db
.DS_Store
*~
._*

# IDE Files
#-------------------------
# Eclipse
.cache
.settings
.buildpath
.project

# Netbeans
/nbproject

# VS Code
.vscode/

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

# Don't commit composer.phar, or the .phar our build tool generates
*.phar

# Don't commit composer lock file
**/composer.lock

# composer installed dependencies
**/vendor/*
